{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="loginbox">
  <form method="POST" action="{{ url_for('admin.update_user', user_id=user_id, user_type=user_type)}}">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
    <div autocomplete="off" class="form-field" style="float:left; margin-left: 40px;">
      {{ form.username.label }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.username }}
    </div>
    <div autocomplete="off" type="password" class="form-field" style="float:left; margin-left: 40px;">
      {{ form.password.label }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password }}
    </div>
    <div class="form-field" style="float:left; margin-left: 40px;">
      {{ form.email.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.email }}
    </div>
    <div class="form-field" style="float:left; margin-left: 40px;">
      {{ form.firstname.label }}&nbsp;&nbsp;&nbsp;{{ form.firstname }}
    </div>
    <div class="form-field" style="float:left; margin-left: 40px;">
      {{ form.lastname.label }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.lastname }}
    </div>
    <div class="form-field" style="float:left; margin-left: 40px;">
      {{ form.phone.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.phone }}
    </div>
    <div class="form-field" style="float:left; margin-left: 40px;">
      {{ form.mac_address.label }}{{ form.mac_address }}
    </div>
    <div class="form-submit" style="margin-left: 40px;"
          onclick="return confirm('Are you sure you want to save changes?');"
    > 
      {{form.submit}} 
    </div>
  </div>
  </form>
  <form style="float:right; margin-top:-65px; padding-right:30px;"
      action="{{ url_for('admin.delete_user', user_id=user_id, user_type=user_type) }}" method="post">
    <input style="padding-right: 25px;" class="danger" type="submit" value="Delete" 
      onclick="return confirm('Are you sure you want to delete this account?');"
    >
  </form>
 </div>
{% endblock %}
