{% extends 'base.html' %}
{% block header %}
<meta charset="utf-8" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<title>{{ title }}</title>
{% endblock %}
{% block content %}
<div class="formwrapper">
  <div style="display:block; width:fit-content; clear:both; float:none;min-height:50px; margin-left:auto; margin-right:auto; margin-top:30px; margin-bottom:30px">
      <div style="float:left;"><a class="greenbutton" style="margin-left:10px;" href="{{ url_for('manager.bar_chart')}}">Top 10 booked cars</a></div>
      <div style="float:left;"><a class="greenbutton" style="margin-left:120px;" href="{{ url_for('manager.line_chart')}}">Profit by date</a></div>
      <div style="float:left;"><a class="greenbutton" style="background-color:steelblue;  margin-left:120px;" href="{{ url_for('manager.pie_chart')}}">Most repaired cars</a></div>
  </div>
</div>
<div>
  <center>
    <canvas id="chart" width="600" height="300"></canvas>
    <script>
      new Chart(document.getElementById("chart"), {
      type: 'pie',
      data: {
        labels: [
          {% for item in data %}
            "{{ item['CarID'] }}",
          {% endfor %}
        ],
        datasets: [{
          backgroundColor: [
            {% for item in colors %}
              "{{ item }}",
            {% endfor %}
          ],
          data: [
            {% for item in data %}
              {{ item['Total'] }},
            {% endfor %}
          ],
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Most repaired cars (Car ID - Repaired times)'
        }
      }
    });
    </script>
  </center>
</div> 
{% endblock %}